/*
MAIN STYLES 
*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Open+Sans+Condensed:300,700);

body, html {
	background: #0d0d0d;
	background-image: url('images/bg.jpg');
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	font-size: 18px;
	height: 100%;
	width: 100%;
}

h1  {
	font-size: 112px;
	margin-bottom: 10px;
	margin-top: -26px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 90px;
}

h2 {
	font-size: 48px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
}

h3 {
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
}
a { color:#fff;
	text-decoration: none;
	font-family: 'Ubuntu Condensed', sans-serif;
}

a:hover { 
	text-decoration: underline;
}

button { 
	border: 0; 
	background-color: #e32c14;
	min-height: 50px;
	padding: 0 10px 0 10px;
	margin-left: -2px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	border: 5px solid #e32c14;
}

button:hover { 
	background: transparent;
	cursor: pointer;
	border: 5px solid #e32c14;
}

input {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	min-height: 50px;
	width: 300px;
	color: #333;
	text-transform: uppercase;
	text-indent: 10px;
	border: 5px solid #fff;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -75px; /* the bottom margin is the negative value of the footer's height */
}

.logo { padding-top: 20px;}

.box {
    text-align: center;
     color: #fff;
     padding: 15px 0 15px 0
}

#footer{
	background-color: #e32c14;
	width: 100%;
	height: 75px;
	margin-top: 25px;
	display: inline-block;
	text-align: center;
    color: #fff;
    padding: 15px 0 15px 0;
    text-align: center;
    bottom:0;
}

#footer ul {
	margin: 10px;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#footer ul li { 
	display: inline; 
	margin: 0 5px;
}

#thanks {
  display: none;
}

/*
*RESPONSIVE FRAMEWORK  
*/

/*
* Lemonade v1.1
* Copyright 2013, Joe Richardson
* lemonade.im
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*/

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}

/* Set the width of the grid */
.frame {
  margin: 0 auto
}

/* Attribute selector */
[class*='bit-'] {
  float: left;
  padding: 0.3em;
}

/* Floats last ".bit-" to the right */
[class*='bit-']:last-of-type {
  float: right
}

/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both
}

/* Main Widths */
.bit-1  { width: 100% }
.bit-2  { width: 50% }
.bit-3  { width: 33.33% }
.bit-4  { width: 25% }
.bit-5  { width: 20% }
.bit-6  { width: 16.6666666667% }
.bit-7  { width: 14.2857142857% }
.bit-8  { width: 12.5% }
.bit-9  { width: 11.1111111111% }
.bit-10 { width: 10% }
.bit-11 { width: 9.09090909091% }
.bit-12 { width: 8.33% }

/* Landscape mobile & down */
@media (max-width: 30em) {
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-4,
  .bit-5,
  .bit-6,
  .bit-7,
  .bit-8,
  .bit-9,
  .bit-10,
  .bit-11,
  .bit-12 {
    width: 100%;
  }
}

/* Portrait tablet to landscape */
@media (min-width: 20em) and (max-width: 50em) {
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%
  }

  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%
  }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
  .bit-2,
  .bit-7 {
    width: 100%
  }

  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%
  }
}
